<form action="/api/sessions/login" method="post">
    <input id="email" name="email" type="text" placeholder="email">
    <input id="password" name="password" type="text" placeholder="password">
    <input type="submit" value="registrar">
</form>
<a href="/register">no tengo cuenta...</a>
