<form action="/api/sessions/register" method="post">
    <input id="first_name" name="first_name" type="text" placeholder="first_name">
    <input id="last_name" name="last_name" type="text" placeholder="last_name">
    <input id="email" name="email" type="text" placeholder="email">
    <input id="age" name="age" type="text" placeholder="age">
    <input id="password" name="password" type="text" placeholder="password">
    <input type="submit" value="registrar">
</form>
<a href="/login">ya tengo cuenta!</a>
<div>
    <a href='/api/sessions/github'>Entrar con github</a>
</div>